:root {
    --bg: #ffffff;
    --card: #f2f2f2;
    --text: #000000;
    --accent: #3390ec;
    --input-bg: #ffffff;
}

body.dark {
    --bg: #0f0f0f;
    --card: #1c1c1e;
    --text: #ffffff;
    --accent: #3fa9ff;
    --input-bg: #2c2c2e;
}

body {
    margin: 0;
    padding: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background: var(--bg);
    color: var(--text);
}

h2 {
    text-align: center;
    margin-bottom: 16px;
    font-size: 22px;
}

.card {
    background: var(--card);
    padding: 16px;
    border-radius: 18px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}

/* КНОПКИ */
.btn {
    width: 100%;
    padding: 18px 16px;
    margin: 10px 0;

    border: none;
    border-radius: 16px;

    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3px;

    background: var(--accent);
    color: white;

    cursor: pointer;
    transition: transform 0.1s ease, opacity 0.1s ease;
}

.btn:active {
    transform: scale(0.97);
    opacity: 0.9;
}

/* INPUT */
.input {
    width: 100%;
    padding: 16px 16px;
    margin: 10px 0;

    border-radius: 16px;
    border: none;

    background: var(--input-bg);
    color: var(--text);

    font-size: 17px; /* >=16px — фикс iOS зума */
    box-sizing: border-box;
}

.input::placeholder {
    color: #888;
}

.result {
    margin-top: 14px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
